<section class="d-flex flex-column align-self-center px-2 px-sm-3 px-md-5 py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>All Users</h2>
    <a href="/admin/add-user" class="btn btn-dark btn-sm py-2">
      Add new user
    </a>
  </div>
  <hr />
  <div class="table-responsive mt-3" style="max-width: 1400px;">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Connection</th>
          <th>Status</th>
          <th>Bio</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div
                  class="rounded-circle d-flex align-items-center justify-content-center"
                  style="width: 40px; height: 40px; background-color:rgb(223, 223, 223);"
                >
                  <h1
                    class="text-primary text-center align-middle m-0 p-0"
                    style="font-size: 20px;"
                  >{{avatar this.name}}</h1>
                </div>
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{this.name}}</p>
                  <p class="text-muted mb-0">{{this.email}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{this.social}}</p>
            </td>
            <td>
              {{#if this.status}}
                <span
                  class="badge badge-success rounded-pill d-inline"
                >Active</span>
              {{else}}
                <span
                  class="badge badge-warning rounded-pill d-inline"
                >Inactive</span>
              {{/if}}
            </td>
            <td>
              <button
                type="button"
                class="btn btn-link btn-sm"
                data-mdb-toggle="modal"
                data-mdb-target="#exampleModal"
                onclick="viewClicked(`{{this.tag}}`,`{{this.bio}}`)"
              >
                View
              </button>
            </td>
            <td>

              <a
                type="button"
                class="btn btn-link btn-outline-primary btn-sm"
                href="/admin/status/{{this._id}}?cStatus={{this.status}}"
              >
                {{#if this.status}}
                  Block
                {{else}}
                  Unblock
                {{/if}}
              </a>
              <a
                type="button"
                class="btn btn btn-danger btn-sm"
                href="/admin/delete/{{this._id}}"
              >
                Delete
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Bio</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Tag line</h5>
        <p id="modal-tag"></p>
        <h5>Bio</h5>
        <p id="modal-bio"></p>
      </div>
    </div>
  </div>
</div>