<section class="homw">
  <div class="d-flex flex-column align-items-center py-5">
    <h2>Connect </h2>
    <hr class="w-50" />
    <div class="users-data d-flex" style="gap: 15px;">
      {{#each users}}
        <div
          class="card text-center d-flex flex-column align-items-center"
          style="width: 300px;"
        >
          <div
            class="mt-3 rounded-circle d-flex align-items-center justify-content-center"
            style="width: 200px; height: 200px; background-color:rgb(223, 223, 223); cursor: default"
          >
            <h1 style="font-size: 100px;">{{avatar this.name}}</h1>
          </div>
          <div class="card-body w-100">
            <h5 class="card-title">{{this.name}}</h5>
            <div class="tag mb-2" style="height: 5rem; overflow-y: hidden;">
              <p class="card-text" style="line-height: 1.5rem;">{{this.tag}}</p>
            </div>
            <div class="row">
              <div class="col-6">
                <a
                  href="/user/{{this._id}}"
                  class="w-100 btn btn-outline-primary"
                >View</a>
              </div>
              <div class="col-6">
                <a
                  href="{{this.social}}"
                  target="_blank"
                  class="w-100 btn btn-primary"
                >Connect</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>